body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}


.main-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.header-image {
    height: 50px;
}


h1 {
    font-size: 4em;
}

h1, h2 {
    color: #333;
    text-align: center;
}

p, ul {
    line-height: 1.6;
    font-size: 1.2em;
    text-align: left;
}

a:link, a:visited {
    color: #00499C;

}

.mint-button:link, .mint-button:visited {
    color: white; 
    text-decoration: none; 
}

.mint-button {
    background-color: #1F1D29;
    color: white; 
    padding: 7.5px 16px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 12px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.mint-button:hover {
    background-color: #D5D7E1; 
}

footer {
    background-color: #1F1D29; 
    color: white;
    text-align: center; 
    padding: 20px 0;
}

.footer-content p, .footer-content img {
    margin: 0; 
    padding: 5px 0; 
}

.footer-content img {
    height: 50px; 
    width: auto; 
}

.footer-content p {
    font-size: 1.2em; 
    margin-bottom: 10px; 
}

